<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../styles/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="wrapper" class="wrapper">
        </div>
        <script src="../dist/quotes.bundle.js"></script>
        <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
    </body>
</html>
