@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin calc-btn{
    border: 2px solid black;
    background: gray;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    &:active{
        background: lightgoldenrodyellow;
    }
}

*{
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0
}

.wrapper{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    &-color{
        &__green{
            background-color: lightcyan;
        }
        &__blue{
            background-color: lightcyan;
        }
        &__red{
            background-color: lightcyan;
        }
        &__purple{
            background-color: lightcyan;
        }
        &__orange{
            background-color: lightcyan;
        }
        &__yellow{
            background-color: lightcyan;
        }
    }
}
.quote-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    width: 50%;
    height: 50%;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    &-color{
        &__green{
            background-color: lightcyan;
        }
        &__blue{
            background-color: lightcyan;
        }
        &__red{
            background-color: lightcyan;
        }
        &__purple{
            background-color: lightcyan;
        }
        &__orange{
            background-color: lightcyan;
        }
        &__yellow{
            background-color: lightcyan;
        }
    }
    &__author{
        font-size: 2.25rem;
        margin: 1rem 0;
    }
    &__quote{
        font-size: 1.75rem;
        margin: 1rem 0;
    }
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}
.editor-wrapper{
    width: 100%;
    height: 50%;
    border: 1px solid gray;
}
.editor{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.preview-wrapper{
    width: 100%;
    height: 50%;
    border: 1px solid gray;
}
.preview{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.drum-machine{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 50%;
    border: 2px solid goldenrod;
    .drums{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        .drum-pad{
            border: 2px solid lightblue;
            background: white;
            width: 5rem;
            height: 5rem;
        }
    }
    .controls{
        width: 25%;
        .display{
            background: lightgoldenrodyellow;
            min-height: 2rem;
            min-width: 100%;
            text-align: center;
        }
    }
}
.calculator{
    width: 50dvw;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    .formula-display{
        height: 15%;
        background: black;
        color: goldenrod;
        font-weight: bold;
        font-size: 3rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1rem;
    }
    .output-display{
        height: 15%;
        background: black;
        color: white;
        font-weight: bold;
        font-size: 3rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1rem;
    }
    .controls{
        height: 70%;
    }
}
.controls{
    display: grid;
    grid-template-areas:
        "a a b c"
        "e f g h"
        "i j k n"
        "p q r l"
        "m m o l"
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 2px solid black;
    .btn{
        @include calc-btn;
        &--light{
            background: lightgrey;
        }
        &--blue{
            background: lightblue;
        }
        &--red{
            background: lightcoral;
        }
    }
    .AC{
        grid-area: a;
    }
    .zero{
        grid-area: m;
    }
    .equals{
        grid-area: l;
    }
}

.time-controls{
    display: flex;
}